body {
  margin: 0;
  color: #212121;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.form__btn, .hero__button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 10px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__header {
  display: flex;
  align-items: center;
  justify-content: none;
}

.logo {
  align-self: center;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo--color {
  color: #2196f3;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  margin-left: 95px;
  position: relative;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  position: relative;
  color: #2196f3;
}
.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.auth-list {
  display: flex;
  margin-left: auto;
}

.auth-list__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.auth-list__link:hover, .auth-list__link:focus {
  color: #2196f3;
}

.auth-list__item + .auth-list__item {
  margin-left: 50px;
}

.auth-list__icon {
  fill: currentColor;
  margin-right: 10px;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 696px;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

.backdrop {
  transition: opacity 250ms linear, visibility 250ms linear;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  min-height: 581px;
  min-width: 528px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0.5);
}

.modal__btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  right: 9px;
  top: 13px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: #2196f3;
  outline: none;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal__icon {
  width: 18px;
  height: 18px;
}

.modal__content {
  padding: 40px 39px 40px 41px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0;
  height: 58px;
}

.form__input {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  margin: 0;
  padding: 12px 42px;
  font: inherit;
}
.form__input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.form__label,
.form__comments {
  margin-right: auto;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  top: 45%;
  left: 12px;
  width: 18px;
  height: 18px;
}
.form__input:focus + .form__icons {
  fill: #2196f3;
}

.form__textarea {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form__textarea::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field-comments {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 0;
  margin-bottom: 20px;
}

.form__checkbox {
  width: 425px;
  margin-left: auto;
  margin-right: auto;
}

.form__checkbox {
  width: 425px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox__input {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: none;
  line-height: 1.71;
  color: #757575;
}

.checkbox__icon {
  display: flex;
  align-items: center;
  justify-content: none;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: #2196f3;
  border: none;
}

.checkbox__svg {
  width: 100%;
  margin-top: 6px;
  margin-left: 2px;
}

.checkbox__text {
  margin-left: 5px;
  text-decoration: underline;
  color: #2196f3;
}

.form__btn {
  margin-top: 30px;
  width: 200px;
  height: 50px;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}

.features {
  display: flex;
}

.features__item {
  flex-basis: 25%;
}
.features__item + .features__item {
  margin-left: 30px;
}

.features__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.features__text {
  color: #757575;
  line-height: 1.71;
  font-size: 14px;
}

.features__icon {
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work {
  padding-top: 0;
}

.work__item {
  position: relative;
}
.work__item + .work__item {
  margin-left: 30px;
}

.work__label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px;
}

.work__list {
  display: flex;
}

.team {
  background-color: #f5f4fa;
}

.team__card-set {
  display: inline-flex;
}

.card-set__content {
  padding: 30px 32px;
  background-color: #ffffff;
}

.card-set__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.card-set__item + .card-set__item {
  margin-left: 30px;
}

.card-set__position {
  color: #757575;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.card-set__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.card-set__socials {
  display: flex;
  margin-top: 16px;
  width: 206px;
  height: 44px;
}

.socials__item:not(:first-child) {
  margin-left: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients__item {
  cursor: pointer;
  width: 170px;
  height: 92px;
}

.clients__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo--inverse {
  color: #ffffff;
}

.box {
  display: flex;
  align-items: baseline;
  justify-content: none;
}

.box__address {
  margin-right: 70px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__list {
  margin-top: 20px;
  font-style: normal;
}

.footer__address {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  line-height: 1.71;
}
.footer__address:hover, .footer__address:focus {
  color: #2196f3;
}

.footer__mail {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.footer__mail:hover, .footer__mail:focus {
  color: #2196f3;
}

.footer__phone {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}
.footer__phone:hover, .footer__phone:focus {
  color: #2196f3;
}

.join-us__title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.join-us__socials {
  display: flex;
  margin-top: 20px;
}

.join-us__item:not(:last-child) {
  margin-right: 10px;
}

.join-us__link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  color: #ffffff;
}
.join-us__link:hover, .join-us__link:focus {
  background-color: #2196f3;
}

.join-us__icon {
  fill: currentColor;
}

.form-footer {
  display: flex;
  align-items: flex-end;
  justify-content: none;
  margin-left: auto;
}

.form-footer__field {
  display: flex;
  flex-direction: column;
}

.form-footer__label {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.form-footer__mail {
  outline: none;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn__sign-up {
  display: flex;
  align-items: center;
  justify-content: none;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.footer-btn__sign-up::after {
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24 0 0 13.5l7.67 2.84L19.5 5.25l-8.998 12.14.007.002-.009-.002V24l4.301-5.018L20.251 21 24 0Z' fill='%23fff'/%3e%3c/svg%3e");
  width: 24px;
  height: 24px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */