.auth-list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    align-content: center;
  }
  @media screen and (min-width: $desktop) {
    @include centeredFlex(flex, center, null);
    margin-left: auto;
  }

  &__link {
    @media screen and (min-width: $tablet) {
      transition: color $timing-function;

      color: $secondary-text-color;
      @include centeredFlex(flex, center, none);
      @include font(null, 500, 1.14, 0.02em);

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}
.auth-list__item {
  & + & {
    @media screen and (min-width: $desktop) {
      margin-left: 50px;
    }
  }

  &--top {
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-top: 10px;
    }
  }
}

.auth-list__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: $tablet) {
    fill: currentColor;
    margin-right: 10px;
  }
}
