.backdrop {
  transition: opacity 250ms linear, visibility 250ms linear;
  z-index: 20;
  position: fixed;

  top: 0;
  left: 0;
  width: 480px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
