.backdrop {
  transition: opacity 250ms linear, visibility 250ms linear;

  position: fixed;
  overflow-y: scroll;
  z-index: 20;
  padding: 93px 15px;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
