.clients {
  @media screen and (max-width: 767px) {
    @include wrapper;
    margin-left: -15px;
    margin-top: -15px;
  }

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    @include wrapper;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: $desktop) {
    @include centeredFlex();
    margin-top: 50px;
  }

  &__item {
    cursor: pointer;
    @media screen and (max-width: 767px) {
      margin-left: 15px;
      margin-top: 15px;
      width: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      margin-left: 30px;
      margin-top: 30px;
      width: calc(100% / 3 - 30px);
    }
    @media screen and (min-width: $desktop) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__link {
    transition: color $timing-function, border-color $timing-function;

    @include centeredFlex();

    padding: 16px 52px;
    color: $clients-link_color;
    border: 1px solid $clients-link_color;
    border-radius: 4px;

    &:hover,
    &:focus {
      color: $accent-color;
      border-color: $accent-color;
    }
    @media screen and (min-width: $desktop) {
      padding: 16px 32px;
      width: 170px;
      height: 92px;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
