.clients {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-bottom: -15px;
  // @include centeredFlex();
}

.clients__item {
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 15px;

  width: calc((100% - 30px) / 2);
}
.clients__link {
  transition: color $timing-function, border-color $timing-function;

  @include centeredFlex();

  padding: 16px 52px;
  color: $clients-link_color;
  border: 1px solid $clients-link_color;
  border-radius: 4px;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.clients__icon {
  fill: currentColor;
}

// .clients__item:not(:last-child) {
//   margin-right: 30px;
// }
