.footer {
  background-color: $footer-background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  &__list {
    margin-top: 20px;
    font-style: normal;

    @media screen and (min-width: $desktop) {
      margin-top: 20px;
      width: 231px;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width: $desktop) {
      margin-bottom: 9px;
    }
  }

  &__address {
    transition: color $timing-function;

    color: $primary-white-color;
    line-height: 1.71;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__mail,
  &__phone {
    transition: color $timing-function;

    color: $address-grey-color;
    line-height: 1.71;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}

.tablet-footer {
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    @include centeredFlex(flex, baseline, space-around);
  }
  @media screen and (min-width: $desktop) {
    display: contents;
  }
}

.logo--inverse {
  color: $primary-white-color;
}

.box {
  @media screen and (min-width: $desktop) {
    @include centeredFlex(flex, baseline, null);
  }
  &__address {
    @media screen and (max-width: 1199px) {
      text-align: center;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 70px;
    }
  }
}

.join-us {
  &__title {
    @media screen and (max-width: 767px) {
      text-align: center;
      margin-top: 60px;
    }
    @include font(null, 700, 1.14, null);
    text-transform: uppercase;
    color: $primary-white-color;

    @media screen and (min-width: $tablet) {
      text-align: center;
      margin-top: 0;
    }
  }

  &__socials {
    @media screen and (max-width: 1199px) {
      justify-content: center;
    }
    display: flex;
    margin-top: 20px;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    transition: background-color $timing-function;

    @include centeredFlex();

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $footer-link-bg-color;
    color: $primary-white-color;

    &:hover,
    &:focus {
      background-color: $accent-color;
    }
  }

  &__icon {
    fill: currentColor;
  }
}

.form-footer {
  @media screen and (max-width: 1199px) {
    margin-top: 60px;
    text-align: center;
  }

  @media screen and (min-width: $desktop) {
    @include centeredFlex(flex, flex-end, null);
    margin-left: auto;
  }

  &__field {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
    }
    @media screen and (min-width: $tablet) and (max-width: 1199px) {
      align-items: center;
    }
  }

  &__label {
    @include font(null, 700, 1.14, 0.03em);
    text-transform: uppercase;
    color: $primary-white-color;
    margin-bottom: 20px;
  }

  &__mail {
    outline: none;
    margin-top: 20px;

    width: 100%;
    height: 50px;
    padding: 15px 16px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    @include font(16px, null, 1.25, 0.03em);
    color: rgba(255, 255, 255, 0.6);

    @media screen and (min-width: $tablet) {
      width: 450px;
      margin-top: 0;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 12px;
      width: 358px;
    }
  }
}

.footer-btn {
  display: flex;
  justify-content: center;

  &__sign-up {
    @include centeredFlex(flex, center, null);

    margin-top: 20px;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;

    @include font(16px, 700, 1.88, 0.06em);
    color: $primary-white-color;

    &::after {
      content: "";
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M24 0 0 13.5l7.67 2.84L19.5 5.25l-8.998 12.14.007.002-.009-.002V24l4.301-5.018L20.251 21 24 0Z' fill='%23fff'/%3e%3c/svg%3e");
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  }
}
