.menu-container {
  @media screen and (max-width: 767px) {
    transform: translateY(-103%);
    transition: transform 250ms ease-in-out;

    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    padding: 48px 40px;
    background: $primary-white-color;
  }
  &.is-open {
    @media screen and (max-width: 767px) {
      transform: translateY(0);
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
  @media screen and (min-width: $desktop) {
    display: contents;
  }
}
