.page-header {
  position: relative;
  border-bottom: 1px solid $page-header-border;

  &__header {
    @include centeredFlex(flex, center, space-between);
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: $tablet) {
      padding: 0;
    }
  }
}
