.page-header {
  position: relative;
  @media screen and (min-width: $desktop) {
    border-bottom: 1px solid $page-header-border;
  }
}
.page-header__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;

  @media screen and (min-width: $desktop) {
    @include centeredFlex(flex, center, none);
  }
}
